<h1>Breweries</h1>

<ul *ngIf="brews">
    <li *ngFor="let brew of brews">
        <p class="name">{{ brew.name }}</p>
        <p class="country">{{ brew.country }}</p>
        <p class="state">{{ brew.state }}</p>
        <a href="{{ brew.website_url }}" class="site">SITE</a>
    </li>
</ul>